file:
  "{{ java8_home }}/bin/javac":
    exists: true
    owner: root
    group: root
    filetype: file
    contains: []
  "{{ java8_home }}/bin/java":
    exists: true
    owner: root
    group: root
    contains: []

package:
{% if ansible_os_family == 'RedHat' %}
{% for item in java8_packages %}
  {{ item }}:
    installed: true
{% endfor %}
{% endif %}
